node_modules
.env
env
public/images/*.jpg
public/images/*.jpeg
public/images/*.png
public/images/*.gif
public/images/*.pdf

public/materials/*.jpg
public/materials/*.jpeg
public/materials/*.png
public/materials/*.gif
public/materials/*.pdf
public/materials/*.ppt

config.js
public/Assignments/*.jpg
public/Assignments/*.jpeg
public/Assignments/*.png
public/Assignments/*.gif
public/Assignments/*.pdf
public/Assignments/*.ppt


public/receiptes/*.jpg
public/receiptes/*.jpeg
public/receiptes/*.png
public/receiptes/*.gif
